# Pandas

1. Read XML and get Dataframe
2. Convert Dataframe to XML

What is XML?

XML stands for eXtensible Markup Language
XML is a markup language much like HTML
XML was designed to store and transport data
XML was designed to be self-descriptive
XML is a W3C Recommendation

In [13]:
import pandas as pd

pd.read_xml('test.xml')

      shape  degrees  sides
0    square      360    4.0
1    circle      360    NaN
2  triangle      180    3.0

In [23]:
xml = '''<?xml version='1.0' encoding='utf-8'?>
<data xmlns="http://example.com">
 <row>
   <shape>square</shape>
   <degrees>360</degrees>
   <sides>4.0</sides>
   <firstname>Athar</firstname>
 </row>
 <row>
   <shape>circle</shape>
   <degrees>360</degrees>
   <sides/>
   <firstname/>
 </row>
 <row>
   <shape>triangle</shape>
   <degrees>180</degrees>
   <sides>3.0</sides>
   <firstname/>
 </row>
</data>'''

In [24]:
from io import StringIO

pd.read_xml(StringIO(xml))

      shape  degrees  sides firstname
0    square      360    4.0     Athar
1    circle      360    NaN      None
2  triangle      180    3.0      None

In [25]:
xml2 = '''<?xml version='1.0' encoding='utf-8'?>
<data>
  <row shape="square" degrees="360" sides="4.0" firstname="Athar"/>
  <row shape="circle" degrees="360"/>
  <row shape="triangle" degrees="180" sides="3.0" lastname="Parvez"/>
</data>'''

In [26]:
pd.read_xml(StringIO(xml2),xpath=".//row")

      shape  degrees  sides firstname lastname
0    square      360    4.0     Athar     None
1    circle      360    NaN      None     None
2  triangle      180    3.0      None   Parvez

In [27]:
xml3 = '''<?xml version='1.0' encoding='utf-8'?>
<doc:data xmlns:doc="https://example.com">
  <doc:row>
    <doc:shape>square</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides>4.0</doc:sides>
  </doc:row>
  <doc:row>
    <doc:shape>circle</doc:shape>
    <doc:degrees>360</doc:degrees>
    <doc:sides/>
  </doc:row>
  <doc:row>
    <doc:shape>triangle</doc:shape>
    <doc:degrees>180</doc:degrees>
    <doc:sides>3.0</doc:sides>
  </doc:row>
</doc:data>'''

In [30]:
df=pd.read_xml(StringIO(xml3),xpath=".//doc:row",namespaces={"doc": "https://example.com"})

In [33]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.to_xml('test1.xml')