# List Comprehension

In [1]:
type([1,2,3,4,5,5])

list

In [2]:
lst=[]
for i in range(0,8):
    lst.append(i)
    
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7]

In [3]:
lst=[1,2,3,4,5,6]
lst2=[]
for i in lst:
    lst2.append(i**2)
    
print(lst2)

[1, 4, 9, 16, 25, 36]

In [4]:
numbers=[1,2,3,4,5]
squard_numbers=[i**2 for i in numbers]
print(squard_numbers)

[1, 4, 9, 16, 25]

In [5]:
# Filtering even numbers from a list:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_number=[n for n in numbers if n%2==0]
print(even_number)

[2, 4, 6, 8, 10]

In [7]:
# Flattening a list of lists: 2 for loops

lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattend_list=[item for sublist in lists for item in sublist ]
flattend_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# Generating a list of the first letters of words in a list:

words = ['apple', 'banana', 'cherry', 'date']
first_letters=[word[0] for word in words]
print(first_letters)

['a', 'b', 'c', 'd']

In [9]:
# Generating a list of the squares of even numbers

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[n**2 for n in numbers if n%2==0]

[4, 16, 36, 64, 100]

In [10]:
# Converting a list of strings to a list of integers

strings = ['1', '2', '3', '4', '5']
[int(s) for s in strings]

[1, 2, 3, 4, 5]

In [11]:
#  Generating a list of the Fibonacci sequence using a list comprehension

fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

[fib[i-1]+ fib[i-2] for i in range(2,len(fib))]

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

In [12]:
# Generating a list of all the divisors of a number:

number =36
[i for i in range(1,number+1) if number%i==0]

[1, 2, 3, 4, 6, 9, 12, 18, 36]